body {
  margin: 0;
}
#sidebar {
  position: fixed;
  height: calc(100% - 64px);
  overflow-x: hidden;
  overflow-y: auto;
  width: 192px;
  top: 0;
  left: 0;
  border-right: 1px solid #cccccc;
  background: #ffffff;
  z-index: 3;
  font-family: Arial, sans-serif;
  padding: 32px;
}
#notSidebar {
  position: fixed;
  height: 100%;
  width: calc(100% - 256px);
  top: 0;
  right: 0;
  background: #cccccc;
  z-index: 2;
}
@media screen and (max-width: 720px) {
  #notSidebar {
    width: 100%;
  }
  #sidebar {
    width: calc(100% - 64px);
    left: -100%;
    transition: margin-left 0.5s;
  }
  #sidebar.open {
    margin-left: 100%;
  }
}
#canvas {
  position: absolute;
  height: calc(100% - 128px - 32px);
  width: calc(100% - 32px);
  top: 16px;
  right: 16px;
  z-index: 1;
  background: #cccccc;
}
#canvasMove {
  position: absolute;
  transform-origin: 0 0;
  height: 2000px;
  width: 2000px;
}
#pixelCanvas {
  height: 100%;
  width: 100%;
  image-rendering: pixelated;
  transform-origin: 0 0;
  background: #ffffff;
}
#palette {
  position: absolute;
  width: calc(100% - 128px);
  bottom: 0;
  right: 0;
  border-top: 1px solid #cccccc;
  background: #f7f7f7;
  z-index: 2;
  padding: 26px 64px;
}
#colours {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}
.colour {
  width: 16px;
  height: 16px;
  margin: 8px;
  border: 1px solid #cccccc;
  display: inline-block;
  cursor: pointer;
}
#timeout {
  position: absolute;
  left: 50%;
  top: 32px;
  transform: translateX(-50%);
  background: #333333;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 128px;
  z-index: 4;
  visibility: hidden;
}
#position {
  position: absolute;
  right: 76px;
  top: 37px;
  background: #333333;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 128px;
  z-index: 4;
  cursor: default;
  user-select: none;
}
#zoomToggle {
  position: absolute;
  right: 32px;
  top: 78px;
  background: #333333;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
  border-radius: 128px;
  z-index: 4;
  cursor: pointer;
  user-select: none;
}
#pickLocation {
  position: absolute;
  right: 32px;
  top: 32px;
  background: #333333;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
  border-radius: 128px;
  z-index: 4;
  cursor: default;
  user-select: none;
}
#zoomToggle:hover, #pickLocation:hover {
  opacity: 0.9;
}
#zoomToggle:active, #pickLocation:active {
  opacity: 0.75;
}
#pixelPreview {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  border: 2px solid black;
  background: #ffffff;
}
#pixelPreview.big {
  display: block;
}


#loginPlease {
  position: absolute;
  height: calc(100%);
  width: calc(100%);
  top: 0;
  right: 0;
  z-index: 5;
  background: rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginPlease .content {
  background-color: #fff;
  padding: 30px 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}
#loginPlease .content a {
  padding: 15px;
  width: 150px;
  border: 1px solid #eee;
  background: transparent;
  border-radius: 50px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}
#loginPlease .content a:focus {
  outline: none;
}
#loginPlease .content header {
  text-align: center;
}
#loginPlease .content header h1 {
  margin-top: 0;
  font-size: 230%;
  font-family: Arial, sans-serif;
}
#loginPlease .content .social-login {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
#loginPlease .content .social-login a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  font-family: Arial, sans-serif;
}
#loginPlease .content .social-login a:first-child {
  margin-right: 10px;
}
#loginPlease .content .social-login a:hover {
  background-color: #eee;
}
#loginPlease .content .social-login a span {
  font-size: 17px;
  color: #777;
  margin-left: 5px;
}
#loginPlease .content .login-form {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loginPlease .content .login-form .input-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  max-width: 310px;
}
#loginPlease .content .login-form .input-group input {
  padding: 15px;
  font-size: 13px;
  border: 1px solid #e4eff8;
  background-color: #e4eff8;
  border-radius: 50px;
  transition: border 0.5s;
  -webkit-tranistion: border 0.5s;
}
#loginPlease .content .login-form .input-group input:focus {
  outline: 0;
  border-color: #20BDFF;
}
#loginPlease .content .login-form .input-group label {
  color: #999;
  font-size: 12px;
  margin-bottom: 3px;
  margin-left: 16px;
}
#loginPlease .content .login-form .input-group button {
  background-color: #20BDFF;
  border: unset;
  color: #fff;
  align-self: center;
  margin-top: 15px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
#loginPlease .content .login-form .input-group button:hover {
  background-color: #5433FF;
}
#loginPlease .content footer {
  padding-top: 15px;
  text-align: center;
}
#loginPlease .content footer a {
  color: #999;
  text-decoration: none;
  font-size: 11px;
}

.social-logout {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 16px;
  display: flex;
  justify-content: center;
  width: 224px;
  background: #fff;
  border-top: 1px solid #eee;
  border-right: 1px solid #cccccc;
  display: none;
}
#sidebar.logout {
  height: calc(100% - 83px - 64px)
}
#sidebar.logout > .social-logout {
  display: block;
}
.social-logout a {
  padding: 15px;
  width: calc(100% - 30px);
  border: 1px solid #eee;
  background: transparent;
  border-radius: 50px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  font-family: Arial, sans-serif;
}
.social-logout a:hover {
  background-color: #eee;
}
.social-logout a span {
  font-size: 17px;
  color: #777;
  margin-left: 5px;
}